/* miniflux-theme-reeder：
使用css原生嵌套，基于官方css修改，移除冗余操作，适配移动端，适配暗黑模式
复制到 设置-自定义CSS */

:root {
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --body-color: #454545;
  --body-background: #f7f6f4;
  --item-background: #fafbfc;
  --hr-border-color: #ccc;
  --title-color: #454545;
  --link-color: #252524;
  --link-focus-color: #e5e7eb;
  --link-focus-bg-color: #e9e8e6;
  --link-hover-color: var(--link-color);
  --link-hover-bg-color: #ecebea;
  --header-list-border-color: #e5e7eb;
  --header-link-color: #4b5563;
  --header-link-focus-color: #6b7280;
  --header-link-hover-color: #6b7280;
  --header-active-link-color: #6b7280;
  --page-header-title-color: #333;
  --page-header-title-border-color: #374151;
  --logo-color: #000;
  --logo-hover-color-span: #2563eb;
  --table-border-color: #e5e7eb;
  --table-th-background: #fcfcfc;
  --table-th-color: #374151;
  --table-tr-hover-background-color: #f9f9f9;
  --table-tr-hover-color: #374151;
  --button-primary-border-color: var(--item-border-color);
  --button-primary-background: var(--link-hover-bg-color);
  --button-primary-color: #6f6f6e;
  --button-primary-focus-border-color: var(--item-border-color);
  --button-primary-focus-background: #d8d8d8;
  --input-border: 1px solid #ccc;
  --input-background: var(--item-background);
  --input-color: #374151;
  --input-placeholder-color: #d0d0d0;
  --input-focus-color: #000;
  --input-focus-border-color: var(--item-border-color);
  --input-focus-box-shadow: 0 0 8px var(--item-border-color);
  --alert-color: #c09853;
  --alert-background-color: #fcf8e3;
  --alert-border-color: #fbeed5;
  --alert-success-color: #fff;
  --alert-success-background-color: #22c55e;
  --alert-success-border-color: #15803d;
  --alert-error-color: #fff;
  --alert-error-background-color: #f19c73;
  --alert-error-border-color: #b91c1c;
  --alert-info-color: #fff;
  --alert-info-background-color: #3b82f6;
  --alert-info-border-color: #1d4ed8;
  --panel-background: #fcfcfc;
  --panel-border-color: #e5e7eb;
  --panel-color: #374151;
  --modal-background: #f3f4f6;
  --modal-color: #374151;
  --modal-box-shadow: 2px 0 5px 0 #ccc;
  --pagination-link-color: #374151;
  --pagination-border-color: #e5e7eb;
  --category-color: #374151;
  --category-background-color: var(--item-background);
  --category-border-color: #efefef;
  --category-link-color: #777;
  --category-link-hover-color: #000;
  --category-has-unread-background-color: var(--item-background);
  --category-has-unread-border-style: solid;
  --category-has-unread-border-color: var(--alert-success-border-color);
  --item-border-color: #d1d5db;
  --item-padding: 0.5rem;
  --item-title-link-font-weight: 600;
  --item-status-read-title-link-color: #6b7280;
  --item-status-read-title-focus-color: #6b7280;
  --item-meta-focus-color: #6b7280;
  --item-meta-link-focus-color: #374151;
  --item-meta-li-color: #9ca3af;
  --current-item-border-width: 3px;
  --current-item-border-color: #bce;
  --current-item-box-shadow: none;
  --entry-header-border-color: #e5e7eb;
  --entry-header-title-link-color: #4a4a4a;
  --entry-content-color: #6f6f6e;
  --entry-content-code-color: #374151;
  --entry-content-code-background: #eaeae8;
  --entry-content-code-border-color: #e5e7eb;
  --entry-content-quote-color: #374151;
  --entry-content-abbr-border-color: #9ca3af;
  --entry-enclosure-border-color: #374151;
  --parsing-error-color: #f19c73;
  --feed-parsing-error-background-color: var(--item-background);
  --feed-parsing-error-border-style: solid;
  --feed-parsing-error-border-color: #b91c1c;
  --feed-has-unread-background-color: var(--item-background);
  --feed-has-unread-border-style: solid;
  --feed-has-unread-border-color: var(--alert-success-border-color);
  --keyboard-shortcuts-li-color: #374151;
  --counter-color: #6b7280;
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #dfdede;
    --body-background: #262322;
    --item-background: #161a18;
    --hr-border-color: #4b5563;
    --title-color: #dfdede;
    --link-color: #dfdfdf;
    --link-focus-color: #e5e7eb;
    --link-focus-bg-color: #383635;
    --link-hover-color: var(--link-color);
    --link-hover-bg-color: #2f2c2b;
    --header-list-border-color: #374151;
    --header-link-color: #e5e7eb;
    --header-link-focus-color: rgba(82, 168, 236, 0.85);
    --header-link-hover-color: rgba(82, 168, 236, 0.85);
    --header-active-link-color: #a5b4fc;
    --page-header-title-border-color: #374151;
    --logo-color: #bbb;
    --logo-hover-color-span: #bbb;
    --table-border-color: #4b5563;
    --table-th-background: #374151;
    --table-th-color: #9ca3af;
    --table-tr-hover-background-color: #374151;
    --table-tr-hover-color: #9ca3af;
    --button-primary-border-color: var(--item-border-color);
    --button-primary-background: var(--link-hover-bg-color);
    --button-primary-color: #dfdede;
    --button-primary-focus-border-color: var(--item-border-color);
    --button-primary-focus-background: #5a5a5a;
    --input-border: 1px solid #4b5563;
    --input-background: var(--item-background);
    --input-color: #ccc;
    --input-placeholder-color: #374151;
    --input-focus-color: #efefef;
    --input-focus-border-color: var(--item-border-color);
    --input-focus-box-shadow: 0 0 8px var(--item-border-color);
    --alert-color: #efefef;
    --alert-background-color: #374151;
    --alert-border-color: #4b5563;
    --alert-success-color: #efefef;
    --alert-success-background-color: #374151;
    --alert-success-border-color: #4b5563;
    --alert-error-color: #efefef;
    --alert-error-background-color: #374151;
    --alert-error-border-color: #4b5563;
    --alert-info-color: #efefef;
    --alert-info-background-color: #374151;
    --alert-info-border-color: #4b5563;
    --panel-background: #374151;
    --panel-border-color: #4b5563;
    --panel-color: #9b9b9b;
    --modal-background: #374151;
    --modal-color: #efefef;
    --modal-box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
    --pagination-link-color: #9ca3af;
    --pagination-border-color: #374151;
    --category-color: #e5e7eb;
    --category-background-color: var(--item-background);
    --category-border-color: #2a2a2a;
    --category-link-color: #777;
    --category-link-hover-color: #f3f4f6;
    --category-has-unread-background-color: var(--item-background);
    --category-has-unread-border-style: solid;
    --category-has-unread-border-color: var(--alert-success-border-color);
    --item-border-color: #374151;
    --item-padding: 4px;
    --item-title-link-font-weight: 700;
    --item-status-read-title-link-color: #6b7280;
    --item-status-read-title-focus-color: rgba(82, 168, 236, 0.6);
    --item-meta-focus-color: #9ca3af;
    --item-meta-li-color: #e5e7eb;
    --item-meta-link-focus-color: #d1d5db;
    --current-item-border-width: 2px;
    --current-item-border-color: rgba(82, 168, 236, 0.8);
    --current-item-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    --entry-header-border-color: #374151;
    --entry-header-title-link-color: #dfdede;
    --entry-content-color: #bfbebe;
    --entry-content-code-color: #ddd;
    --entry-content-code-background: #312e2e;
    --entry-content-code-border-color: #6b7280;
    --entry-content-quote-color: #777;
    --entry-content-abbr-border-color: #777;
    --entry-enclosure-border-color: #374151;
    --parsing-error-color: #eee;
    --feed-parsing-error-background-color: var(--item-background);
    --feed-parsing-error-border-style: solid;
    --feed-parsing-error-border-color: #b91c1c;
    --feed-has-unread-background-color: var(--item-background);
    --feed-has-unread-border-style: solid;
    --feed-has-unread-border-color: var(--alert-success-border-color);
    --keyboard-shortcuts-li-color: #9b9b9b;
    --counter-color: #bbb;
  }
}
:root {
  --entry-content-font-weight: 400;
  --entry-content-font-family: -apple-system, system-ui, BlinkMacSystemFont,
    Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Source Han Sans SC,
    Noto Sans CJK SC, Microsoft YaHei, WenQuanYi Micro Hei, WenQuanYi Zen Hei,
    Helvetica Neue, Arial, sans-serif;
  --entry-content-quote-font-family: Consolas, monaco, "Ubuntu Mono",
    "Liberation Mono", "Courier New", Courier, monospace;
}

* {
  /* 禁用tap highlight效果 */
  -webkit-tap-highlight-color: transparent;
}
/* a标签全局样式 */
a {
  text-decoration: none;
  padding: 8px 8px;
  &:focus {
    outline: none;
  }
  &:hover {
    border-radius: 5px;
    background-color: var(--link-hover-bg-color);
  }
  &:active {
    border-radius: 5px;
    background-color: var(--link-hover-bg-color);
  }
}

/* 二次确认对话框 */
.confirm {
  color: var(--title-color);
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0;
  z-index: 999;
  justify-content: flex-end;
  text-wrap: nowrap;
  /* 添加标题 */
  &::before {
    content: "确认吗";
    font-size: 1rem;
    margin-right: 4px;
  }
  & button {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    padding: 4px 16px;
    height: 32px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0;
    &:first-child {
      order: 1;
      margin-right: 4px;
      &::before {
        content: "是";
        font-size: 1rem;
      }
    }
    &:last-child {
      order: 2;
      &::before {
        content: "否";
        font-size: 1rem;
      }
    }
  }
}

/* alert样式 */
/* 定义消失动画 */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
  }
}
.alert {
  font-size: 1rem;
  margin: 0px;
  position: fixed;
  top: 96px;
  z-index: 999;
  width: 100%;
  max-width: 820px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: fadeOut 3s linear forwards;
  & h3,
  p {
    font-size: 1rem;
  }
}
.alert-error {
  background-color: var(--parsing-error-color);
}

/* 分类标签样式 */
.category {
  background-color: var(--body-background);
  margin: 0;
  padding: 0;
  & a {
    display: inline-block;
    padding: 4px;
  }
}

/* icon按钮图标大小 */
.icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

/* 全局header-顶部菜单栏（固定） */
.header {
  position: fixed;
  z-index: 111;
  top: 0;
  width: 100%;
  max-width: 820px;
  margin: 0;
  padding: 0 16px;
  height: 56px;
  background: var(--body-background);
  display: flex;
  align-items: center;
  /* header图标按钮 */
  & nav {
    width: 100%;
    /* 隐藏logo */
    & .logo {
      display: none;
    }
    /* 图标水平分布 */
    & #header-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      & li {
        /* 替换导航栏文字为图标 */
        /* 设置字体大小为0隐藏菜单文字 */
        font-size: 0;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        /* 图标选中效果 */
        &.active {
          & > a {
            background-color: var(--link-focus-bg-color);
            border-radius: 5px;
          }
          & > a::before {
            background-color: var(--title-color);
          }
        }
        & > a {
          /* 图标padding */
          padding: 4px;
          &:hover {
            z-index: 1;
            font-size: 0;
            line-height: 100%;
          }
          &.active {
            z-index: 1;
            font-size: 0;
            line-height: 100%;
            background-color: blue;
          }
          /* 隐藏添加订阅按钮 */
          &[href$="/subscribe"] {
            display: none;
          }
          /* 显示未读计数 */
          &[href$="/unread"] {
            & .unread-counter-wrapper {
              & .unread-counter {
                /* 超过999时，显示999 */
                font-size: 10px;
                font-weight: 700;
                position: absolute;
                top: 18px;
                left: 26px;
                white-space: nowrap;
                width: 20px;
                height: 20px;
                display: flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                color: var(--title-color);
                background-color: transparent;
              }
            }
          }
          /* 设置图标，采用 https://yesicon.app/tabler 图标 */
          &::before {
            /* 使用空content,mask-image应用svg */
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: var(--button-primary-color);
            display: block;
            width: 32px;
            height: 32px;
            content: "";
          }
          &[href$="/unread"]::before {
            mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMyAxMmE5IDkgMCAxIDAgMTggMGE5IDkgMCAxIDAtMTggMCIvPjwvc3ZnPg==);
          }
          &[href$="/starred"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtMTIgMTcuNzVsLTYuMTcyIDMuMjQ1bDEuMTc5LTYuODczbC01LTQuODY3bDYuOS0xbDMuMDg2LTYuMjUzbDMuMDg2IDYuMjUzbDYuOSAxbC01IDQuODY3bDEuMTc5IDYuODczeiIvPjwvc3ZnPg==");
          }
          &[href$="/history"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMyAxMmE5IDkgMCAxIDAgMTggMGE5IDkgMCAxIDAtMTggMG05IDBoMy41TTEyIDd2NSIvPjwvc3ZnPg==");
          }
          &[href$="/feeds"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNCAxOWExIDEgMCAxIDAgMiAwYTEgMSAwIDEgMC0yIDBNNCA0YTE2IDE2IDAgMCAxIDE2IDE2TTQgMTFhOSA5IDAgMCAxIDkgOSIvPjwvc3ZnPg==");
          }
          &[href$="/categories"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNNSA0aDRsMyAzaDdhMiAyIDAgMCAxIDIgMnY4YTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yVjZhMiAyIDAgMCAxIDItMiIvPjwvc3ZnPg==");
          }
          &[href$="/search"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMyAxMGE3IDcgMCAxIDAgMTQgMGE3IDcgMCAxIDAtMTQgMG0xOCAxMWwtNi02Ii8+PC9zdmc+");
          }
          &[href$="/settings"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNMTAuMzI1IDQuMzE3Yy40MjYtMS43NTYgMi45MjQtMS43NTYgMy4zNSAwYTEuNzI0IDEuNzI0IDAgMCAwIDIuNTczIDEuMDY2YzEuNTQzLS45NCAzLjMxLjgyNiAyLjM3IDIuMzdhMS43MjQgMS43MjQgMCAwIDAgMS4wNjUgMi41NzJjMS43NTYuNDI2IDEuNzU2IDIuOTI0IDAgMy4zNWExLjcyNCAxLjcyNCAwIDAgMC0xLjA2NiAyLjU3M2MuOTQgMS41NDMtLjgyNiAzLjMxLTIuMzcgMi4zN2ExLjcyNCAxLjcyNCAwIDAgMC0yLjU3MiAxLjA2NWMtLjQyNiAxLjc1Ni0yLjkyNCAxLjc1Ni0zLjM1IDBhMS43MjQgMS43MjQgMCAwIDAtMi41NzMtMS4wNjZjLTEuNTQzLjk0LTMuMzEtLjgyNi0yLjM3LTIuMzdhMS43MjQgMS43MjQgMCAwIDAtMS4wNjUtMi41NzJjLTEuNzU2LS40MjYtMS43NTYtMi45MjQgMC0zLjM1YTEuNzI0IDEuNzI0IDAgMCAwIDEuMDY2LTIuNTczYy0uOTQtMS41NDMuODI2LTMuMzEgMi4zNy0yLjM3YzEgLjYwOCAyLjI5Ni4wNyAyLjU3Mi0xLjA2NSIvPjxwYXRoIGQ9Ik05IDEyYTMgMyAwIDEgMCA2IDBhMyAzIDAgMCAwLTYgMCIvPjwvZz48L3N2Zz4=");
          }
          &[href$="/logout"]::before {
            mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNMTQgOFY2YTIgMiAwIDAgMC0yLTJINWEyIDIgMCAwIDAtMiAydjEyYTIgMiAwIDAgMCAyIDJoN2EyIDIgMCAwIDAgMi0ydi0yIi8+PHBhdGggZD0iTTkgMTJoMTJsLTMtM20wIDZsMy0zIi8+PC9nPjwvc3ZnPg==");
          }
        }
      }
    }
  }
}

/* 点击标题返回顶部(固定)-暂时弃用 */
.skip-to-content-link {
  position: fixed;
  padding: 0;
  margin: 0;
  max-width: 820px;
  z-index: 101;
  top: -48px;
  width: 100%;
  height: 48px;
  background-color: var(--body-background);
  translate: none;
  inset-inline-start: unset;
  font-size: 0;
  color: transparent;
  border: none;
  &:hover {
    color: transparent;
    background-color: var(--body-background);
  }
  &:focus {
    color: transparent;
    background-color: var(--body-background);
  }
}
/* 一级页面-page-header（固定到全局header下） */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin: 0;
  position: fixed;
  z-index: 101;
  top: 56px;
  max-width: 820px;
  width: 100%;
  height: 48px;
  background: var(--body-background);
  /* 修改页面header标题 */
  & #page-header-title {
    border: none;
    white-space: nowrap;
    font-size: 1.2rem;
    height: 48px;
    display: flex;
    align-items: center;
    & span {
      /* 未读计数 */
      font-size: 1rem;
      color: var(--category-link-color);
    }
  }
  /* 修改页面header导航菜单 */
  & nav {
    height: 48px;
    display: flex;
    align-items: center;
    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 6px;
      /* 页面header导航菜单按钮 */
      & li {
        display: flex;
        align-items: center;
        padding: 0;
        line-height: 0;
        & .page-link,
        a {
          /* 隐藏文本 */
          font-size: 0px;
          padding: 4px;
          color: var(--button-primary-color);
          &:active {
            color: var(--button-primary-focus-background);
          }
          & .icon {
            padding: 0;
          }
        }
        & .page-button {
          /* 设定图标尺寸，点击后继续占位不消失 */
          width: 32px;
          height: 32px;
          /* 隐藏文本 */
          font-size: 0px;
          padding: 4px;
          color: var(--button-primary-color);
          &:hover {
            background-color: var(--link-hover-bg-color);
            border-radius: 5px;
          }
        }
        /* 隐藏 标记为已读，每页条目设为999999时按钮没用 */
        & .page-button[data-action="markPageAsRead"] {
          display: none;
        }
        /* 全部标记为已读 的confirm标题 */
        & .page-button[data-url="/mark-all-as-read"] + .confirm {
          &::before {
            content: "全部已读";
          }
        }
        /* 历史页 清理历史 的confirm标题 */
        & .page-button[data-url="/history/flush"] + .confirm {
          &::before {
            content: "清理历史";
          }
        }
      }
    }
  }

  /* 隐藏 已分享的文章页 顶部操作按钮 */
  & nav[aria-label="已分享的文章 Menu"] {
    display: none;
  }
}

/* 一级页面-主体 */
main {
  margin: 0;
  padding: 108px 0 0;
  /* 顶部分页只保留上一页，且禁用时不显示 */
  & .pagination-top {
    & .pagination {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      & > div {
        flex: none;
      }
      /* 隐藏翻页文本 */
      & :is(.pagination-next, .pagination-prev) {
        font-size: 0;
        display: inline-block;
        width: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        border: none;
        /* 翻页按钮禁用时不显示 */
        &.disabled {
          display: none;
        }
        & a {
          padding: 4px;
          &:hover {
            z-index: 1;
            font-size: 0;
            line-height: 100%;
          }
        }
      }
      & .pagination-prev {
        /* 更换为向上按钮 */
        & a::before {
          /* 使用空content,mask-image应用svg */
          mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtNiAxNWw2LTZsNiA2Ii8+PC9zdmc+");
          mask-size: cover;
          mask-repeat: no-repeat;
          background-color: var(--button-primary-color);
          display: block;
          width: 32px;
          height: 32px;
          content: "";
        }
        /* 隐藏原双箭头 */
        &::before {
          display: none;
        }
      }
      & .pagination-next {
        display: none;
      }
    }
  }
  & .items {
    padding: 0 16px 16px;

    /* 卡片通用样式 */
    & .item {
      margin-bottom: 8px;
      & .item-header {
        & .item-title {
          width: 100%;
          & a {
            color: var(--title-color);
            display: flex;
            column-gap: 8px;
            align-items: center;
            margin: 4px 0;
          }
        }
      }
      & .item-meta {
        & .item-meta-info {
          /* 隐藏meta竖线 */
          & li:not(:last-child):after {
            display: none;
          }
          & .item-meta-info-title,
          .item-meta-info-site-url {
            & a {
              color: var(--category-link-color);
              &:hover {
                color: var(--category-link-hover-color);
              }
            }
          }
        }
        & .item-meta-icons {
          display: flex;
          justify-content: space-between;
          & li {
            margin: 0;
            /* 隐藏icon标签文本 */
            & .icon-label {
              display: none;
            }
            & > :is(a, button) {
              color: var(--button-primary-color);
              display: flex;
              align-items: center;
              padding: 4px;
              &:hover {
                background-color: var(--link-hover-bg-color);
                border-radius: 5px;
              }
              /* 隐藏下划线 */
              & span {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    /* rss源图标 */
    & :is(.feed-item, .entry-item) {
      /* 没有源图标时设置默认图标 */
      & .item-title {
        & a:first-of-type:not(:has(> img))::before {
          content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgcng9IjQiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgcng9IjQiIGZpbGw9IiM0MDQwNDAiLz48cGF0aCBkPSJNMTMuNiAwQTIuNCAyLjQgMCAwIDEgMTYgMi40djExLjJhMi40IDIuNCAwIDAgMS0yLjQgMi40SDIuNEEyLjQgMi40IDAgMCAxIDAgMTMuNlYyLjRBMi40IDIuNCAwIDAgMSAyLjQgMHptLTIuNCA0LjhjMC0uODExLTEuMDY5LTEuMTA3LTEuNDg2LS40MTFMOCA3LjI0NSA2LjI4NiA0LjM4OWMtLjQxNy0uNjk2LTEuNDg2LS40LTEuNDg2LjQxMXY2LjRhLjguOCAwIDAgMCAuOC44bC4wOTQtLjAwNkEuOC44IDAgMCAwIDYuNCAxMS4yVjcuNjg4bC45MTQgMS41MjMuMDYuMDg3YS44LjggMCAwIDAgMS4zMTItLjA4N0w5LjYgNy42ODhWMTEuMmEuOC44IDAgMCAwIDEuNiAweiIgZmlsbD0iI0ZGRiIvPjwvZz48L3N2Zz4=);
        }
        /* 源图标圆角 */
        & a:first-of-type img {
          border-radius: 4px;
          background-size: cover;
        }
      }
    }
    /* 文章卡片 */
    & .entry-item {
      border: none;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      & .item-header {
        & .item-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & a {
            width: 100%;
            /* 已分享的文章页-文章卡片-标题 */
            &[href^="/history"] {
              width: 100%;
            }
            /* 已分享的文章页-文章卡片-查看分享 */
            &[href^="/share"] {
              width: 38px;
              height: 38px;
            }
          }
        }
        & .item-title {
          & a {
            display: flex;
            align-items: flex-start;
          }
        }
        & .category {
          margin-left: 28px;
          margin-top: -6px;
        }
      }
      & .item-meta {
        & .item-meta-info {
          display: flex;
          justify-content: space-between;
          padding: 0 12px 0 24px;
          margin: 4px 0 -2px;
          & .item-meta-info-timestamp {
            order: 3;
          }
          /* 隐藏文章卡片的阅读时间 */
          & .item-meta-info-reading-time {
            display: none;
          }
        }
        & .item-meta-icons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: absolute;
          bottom: 8px;
          right: 8px;
          /* 隐藏冗余按钮，这里删除了除取消分享意外以外全部按钮，可根据需要设置 */
          & > :not(.item-meta-icons-delete) {
            display: none;
          }
          & .item-meta-icons-delete {
            /* 只显示 取消分享 文本 */
            font-size: 1rem;
            /* 历史页-文章卡片-取消分享 按钮 */
            & > button {
              & > svg {
                display: none;
              }
              & > .icon-label {
                display: inline-block;
              }
            }
            /* 已分享的文章页-文章卡片-取消分享 按钮 */
            & > svg {
              display: none;
            }
            /* 取消分享 的confirm标题 */
            & .confirm::before {
              content: "取消分享";
            }
          }
        }
      }
    }
    /* 已读文章卡片 */
    & .entry-item.item-status-read {
      & .item-header {
        & .item-title {
          & a {
            color: var(--item-status-read-title-link-color);
          }
        }
      }
    }
    /* 源卡片 */
    & .feed-item {
      position: relative;
      border-radius: 10px;
      border: 1px solid var(--item-border-color);
      & .item-header {
        display: flex;
        column-gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &.item-titel {
          width: 100%;
        }
        & .feed-entries-counter {
          position: absolute;
          top: 18px;
          right: 12px;
        }
        & .category {
          position: absolute;
          left: 10px;
          top: 80px;
          z-index: 1;
        }
      }
      & .item-meta {
        & .item-meta-info {
          padding: 0 0 24px;
          position: relative;
        }
        /* 最后检查时间 */
        & .item-meta-info-checked-at {
          position: absolute;
          top: 0;
          right: 4px;
        }
        /* 下次检查时间 */
        & .item-meta-info-next-check-at {
          position: absolute;
          right: 4px;
          bottom: 0;
        }
        & .item-meta-icons {
          display: flex;
          justify-content: flex-end;
          gap: 8px;
          align-items: center;
          & .item-meta-icons-remove {
            /* 删除源 的confirm标题 */
            & .confirm::before {
              content: "删除源";
            }
          }
        }
      }
      & .parsing-error {
        margin: 0;
        padding: 8px;
        color: var(--parsing-error-color);
      }
    }
    /* 分类卡片 */
    & .category-item {
      border-radius: 10px;
      border: 1px solid var(--item-border-color);
      & .item-title {
        & a {
          display: flex;
          justify-content: space-between;
        }
      }
      & .item-meta {
        & .item-meta-info {
          padding-left: 8px;
        }
        & .item-meta-icons {
          margin: 0;
          display: flex;
          justify-content: flex-end;
          gap: 8px;
          align-items: center;
        }
      }
    }
  }
  /* 隐藏page-footer，和header功能重复 */
  & .page-footer {
    display: none;
  }
}

/* 一级页面-底部(翻页) */
main .pagination-bottom {
  width: 100%;
  height: 48px;
  max-width: 820px;
  padding: 0;
  background: var(--body-background);
  & .pagination {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & > div {
      flex: none;
    }
    /* 隐藏翻页文本 */
    & :is(.pagination-next, .pagination-prev) {
      font-size: 0;
      display: inline-block;
      width: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      border: none;
      /* 翻页按钮禁用时不显示 */
      &.disabled {
        display: none;
      }
      & a {
        padding: 4px;
        &:hover {
          z-index: 1;
          font-size: 0;
          line-height: 100%;
        }
      }
    }
    & .pagination-prev {
      /* 更换为向上按钮 */
      display: none;
      /* 隐藏原双箭头 */
      &::before {
        display: none;
      }
    }
    & .pagination-next {
      /* 更换为向下按钮 */
      & a::before {
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtNiA5bDYgNmw2LTYiLz48L3N2Zz4=");
        mask-size: cover;
        mask-repeat: no-repeat;
        background-color: var(--button-primary-color);
        display: block;
        width: 32px;
        height: 32px;
        content: "";
      }
      /* 隐藏原双箭头 */
      &::after {
        display: none;
      }
    }
  }
}

/* 文章详情页 */
/* 文章详情页-顶部操作栏（固定） */
.entry .entry-header .entry-actions {
  /* 小于820px宽度时,覆盖header的设置和登出 */
  @media screen and (max-width: 820px) {
    position: fixed;
    z-index: 122;
    top: 0;
    right: 0;
    margin: 0;
    background: var(--body-background);
    width: 27%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 2px;
    padding-right: 16px;
  }
  /* 大于820px宽度时，浮在屏幕右侧 */
  @media screen and (min-width: 821px) {
    position: fixed;
    z-index: 122;
    top: 48px;
    right: 0;
    margin: 0;
    padding: 8px 16px;
    background: var(--body-background);
    height: 48px;
  }
  & .icon-label {
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  & ul {
    display: flex;
    justify-content: flex-end;
    /* 大于820px宽度时，悬浮菜单纵向布局 */
    @media screen and (min-width: 821px) {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
    }
    & li {
      margin: 0;
      display: flex;
      & .icon {
        width: 32px;
        height: 32px;
      }
      & :is(.page-button, .page-link) {
        color: var(--button-primary-color);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--button-primary-color);
        width: 40px;
        height: 40px;
      }
      & button {
        display: flex;
        padding: 8px;
        width: 40px;
        height: 40px;
        color: var(--button-primary-color);
        &:hover {
          border-radius: 5px;
          background-color: var(--link-hover-bg-color);
        }
      }
      /* 取消分享 按钮 只保留文字 */
      & button[data-url^="/entry/unshare/"] {
        & .icon {
          display: none;
        }
        & .icon-label {
          font-size: 9px;
          display: flex;
          justify-content: flex-end;
          word-break: break-all;
        }
        & + .confirm {
          position: absolute;
          background-color: var(--body-background);
          right: 16px;
          border-radius: 0 0 0 5px;
          top: 56px;
          width: fit-content;
          padding-left: 8px;
        }
      }
      /* 隐藏 跳转原文、查看评论 按钮 */
      & :is(a[href^="http"]) {
        display: none;
      }
    }
    /* 分享按钮始终在末尾(可选) */
    & li:nth-child(4) {
      order: 0;
    }
  }
}
/*在文章详情页 全局header只保留 未读、收藏、历史 覆盖至 顶部操作栏 */

/* 移动 标记已读、收藏、保存、获取原文按钮 到底部操作栏 */
.entry .entry-header .entry-actions ul li {
  /* 默认小于820时定位 */
  /* 标记已读 */
  & button:is([data-value="read"], [data-value="unread"]) {
    position: fixed;
    bottom: 8px;
    left: 0;
    transform: translateX(24px);
  }
  /* 收藏 */
  & button:is([data-value="star"], [data-value="unstar"]) {
    position: fixed;
    bottom: 8px;
    left: 25%;
    transform: translateX(0);
  }
  /* 保存 */
  & button[data-save-url^="/entry/save/"] {
    position: fixed;
    bottom: 8px;
    left: 75%;
    transform: translateX(-42px);
  }
  /* 获取全文 */
  & button[data-fetch-content-url^="/entry/download/"] {
    position: fixed;
    bottom: 8px;
    left: 100%;
    transform: translateX(-64px);
  }
  /* 大于820时定位 */
  @media screen and (min-width: 821px) {
    /* 标记已读 */
    & button:is([data-value="read"], [data-value="unread"]) {
      left: 50%;
      transform: translateX(-388px);
    }
    /* 收藏 */
    & button:is([data-value="star"], [data-value="unstar"]) {
      left: 50%;
      transform: translateX(-204px);
    }
    /* 保存 */
    & button[data-save-url^="/entry/save/"] {
      left: 50%;
      transform: translateX(174px);
    }
    /* 获取全文 */
    & button[data-fetch-content-url^="/entry/download/"] {
      left: 50%;
      transform: translateX(346px);
    }
  }
}

/* 文章出现动画 */
@keyframes fadein {
  0% {
    transform: translateY(32px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 文章详情页-头部标题 */
.entry {
  padding-top: 64px;
  & .entry-header {
    padding-inline: 0;
    border: none;
    & h1#page-header-title {
      margin: 0;
      padding: 0 16px;
      animation: fadein 100ms ease-in;

      & a {
        display: block;
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        &:hover {
          color: var(--title-color);
        }
      }
    }
    & .entry-meta {
      margin: 0;
      padding: 0 16px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      animation: fadein 100ms ease-in;
      & .entry-author {
        order: 0;
        padding: 8px;
        &::first-letter {
          font-size: 0;
        }
        & em {
          font-style: normal;
        }
      }
      & .entry-website {
        order: 1;
        margin-right: auto;
        & img {
          border-radius: 50%;
          display: none;
        }
        & a:hover {
          color: var(--title-color);
          text-decoration: none;
        }
      }
      & .category {
        order: 2;
        margin: 8px;
      }
    }
    /* 隐藏标签 */
    & .entry-tags {
      display: none;
    }
    & .entry-date {
      margin: 0 24px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding-bottom: 4px;
      border-bottom: 1px dotted var(--entry-header-border-color);
      font-size: 0;
      animation: fadein 100ms ease-in;
      & time,
      .entry-reading-time {
        font-size: 0.75rem;
        padding: 0 4px;
      }
    }
  }
}

/* 修正文章页顶边距 */
.entry + main {
  padding-top: 0px;
}
/* 文章详情页-主体内容 */
main {
  /* 去除文章详情页顶部翻页栏 */
  & .pagination-entry-top {
    display: none;
  }
  /* 文章详情-内容 */
  & article.entry-content {
    padding: 16px 24px 64px;
    font-size: 1rem;
    line-height: 1.6rem;
    overflow: auto;
    animation: fadein 120ms ease-in;
    /* 图片视频等比全宽 */
    & :is(iframe, video, img, pre) {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
    /* 引用块 */
    & blockquote {
      border-left: 2px solid #ddd;
      margin: 0 0 0 8px;
      padding: 0 18px 0 8px;
      font-style: none;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
    /* 表格 */
    & table {
      border: none;
      & tr {
        & th {
          border: none;
          background-color: var(--body-background);
        }
        & td {
          border: none;
          background-color: var(--body-background);
        }
      }
    }
    /* 链接 */
    & a {
      overflow-wrap: anywhere;
    }
  }
  /* 文章详情-附件 */
  & details.entry-enclosures {
    margin: 0;
    padding: 0 24px 64px;
    font-size: 1rem;
    line-height: 1.6rem;
    & summary {
      font-size: 1rem;
    }
  }
}

/* 文章详情页-底部操作栏（固定） */
main .pagination-entry-bottom {
  position: fixed;
  z-index: 100;
  border: none;
  bottom: 0;
  width: 100%;
  max-width: 820px;
  height: 56px;
  background: var(--body-background);
  padding: 16px 5px;
  margin: 0;
  & .pagination {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & > div {
      flex: none;
    }
    /* 隐藏翻页文本 */
    & :is(.pagination-next, .pagination-prev) {
      font-size: 0;
      display: inline-block;
      width: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      border: none;
      & a {
        padding: 4px;
        &:hover {
          z-index: 1;
          font-size: 0;
          line-height: 100%;
        }
      }
    }
    & .pagination-prev {
      /* 隐藏上一页（可选） */
      display: none;
      /* 固定至左下角 */
      position: absolute;
      bottom: 12px;
      left: 48px;
      /* 更换为向上按钮 */
      & a::before {
        /* 使用空content,mask-image应用svg */
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtNiAxNWw2LTZsNiA2Ii8+PC9zdmc+");
        mask-size: cover;
        mask-repeat: no-repeat;
        background-color: var(--button-primary-color);
        display: block;
        width: 32px;
        height: 32px;
        content: "";
      }
      /* 隐藏原双箭头 */
      &::before {
        display: none;
      }
    }
    & .pagination-next {
      /* 更换为向下按钮 */
      & a::before {
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNjY2NjY2MiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJtNiA5bDYgNmw2LTYiLz48L3N2Zz4=");
        mask-size: cover;
        mask-repeat: no-repeat;
        background-color: var(--button-primary-color);
        display: block;
        width: 32px;
        height: 32px;
        content: "";
      }
      /* 隐藏原向右双箭头 */
      &::after {
        display: none;
      }
    }
    /* 禁用（翻到最后一页）时,更换为横线按钮 */
    & .pagination-next.disabled::before {
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjY2NjY2NjIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yIDhhLjc1Ljc1IDAgMCAxIC43NS0uNzVoMTAuNWEuNzUuNzUgMCAwIDEgMCAxLjVIMi43NUEuNzUuNzUgMCAwIDEgMiA4IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
      mask-size: cover;
      mask-repeat: no-repeat;
      background-color: var(--button-primary-color);
      display: block;
      width: 32px;
      height: 32px;
      content: "测试";
    }
  }
}

/* 设置页 */
main {
  /* 标题样式 */
  & > h3 {
    margin: 8px 16px;
  }
  /* 表单样式 */
  & form {
    padding: 0 16px;
    & > fieldset {
      border: 1px solid var(--item-border-color);
      padding: 8px;
      margin-bottom: 20px;
      border-radius: 10px;
    }
    /* input样式 */
    & input[type="search"],
    input[type="url"],
    input[type="password"],
    input[type="text"],
    input[type="number"] {
      width: 100%;
      height: 32px;
      border-radius: 5px;
    }
    /* select样式 */
    & select {
      margin: 5px 0 10px;
      height: 32px;
      width: 100%;
      border: var(--input-border);
      border-radius: 5px;
      background-color: var(--input-background);
    }
    /* 每页文章数 */
    & #form-entries-per-page {
      width: 100%;
      max-width: 100%;
    }
    /* 文本域样式（自定义css） */
    & textarea {
      width: 100%;
      height: 200px;
    }
    /* 按钮样式 */
    & .button {
      width: 100%;
      border-radius: 5px;
      border: none;
    }
  }

  /* 表格样式 */
  & > table {
    width: auto;
    margin: 8px 16px;
  }
  & > .panel {
    margin: 8px 16px;
    overflow: auto;
  }
  & > p {
    margin: 8px 16px;
    & a.button {
      width: 100%;
      border-radius: 5px;
      border: none;
    }
  }
  /* 修正用户页alert */
  & > .alert {
    position: static;
  }
}

/* 搜索页 */
main search form {
  display: flex;
  justify-content: space-between;
  & input#search-input {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 8px;
  }
  & .button {
    width: 128px;
  }
}
